p {
  margin: 0;
}

.product_section {
  animation: fadeInGrid 1s ease-in-out forwards;
}

.product_grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product_grid .product_box {
  margin: 0 1%;
  width: 18%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  padding-top: 0.75%;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.product_info {
  display: flex;
  align-items: center;
}

.star svg {
  width: 1.5vw !important;
  height: 2.5vw !important;
}

.product_name {
  align-self: flex-start;
  margin-left: 4%;
  margin-top: 5%;
}

.product_name p {
  font-size: 0.8vw;
}

.product_price {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 4%;
  margin-top: -4%;
  align-items: center;
  height: 9%;
}

.product_description {
  align-self: flex-start;
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 4%;
  margin-bottom: 0%;
}

.product_description p {
  font-size: 0.8vw;
}

.product_img img {
  border-radius: 5px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.product_img {
  display: flex;
  width: 93%;
  height: 7.5vw;
  justify-content: center;
  align-items: center;
}

.original_price {
  font-weight: 500;
  text-decoration: line-through;
}

.product_price p {
  font-size: 0.8vw;
}

.discounted_price {
  font-weight: 500;
  color: red;
  font-size: 1.2vw;
  margin-right: 10%;
}

.buy_btn {
  width: 93%;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }

  button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f0f0f0;
      color: #000000;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background-color: #cccccc;
      color: #666666;
      border: 1px solid #cccccc;
      filter: grayscale(100%);
    }
  }
}

.notification {
  margin-bottom: 10px;
}

.notification a {
  background-color: #fff;
  border: 1px solid #000;
  padding: 2px;
  border-radius: 3px;
  padding-bottom: -2px;
  margin-left: 5px;
  cursor: pointer;
}

.load_more {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.load_more button {
  all: unset;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px 60px;
  border-radius: 3px;
  font-size: 1.3vw;
}

.no_products {
  height: 100%;
  text-align: center;
  margin: 150px 0;
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .product_grid .product_box {
    width: 23%;
    height: 21.5vw;
  }

  .product_img {
    height: 10.5vw;
  }
}
@media only screen and (max-width: 1200px) {
  .filter_position {
    width: 20% !important;
  }

  .filter-menu {
    width: 100%;
  }

  .content_position {
    width: 80% !important;
  }

  .product_grid .product_box {
    width: 31.1%;
    height: 30vw;
  }

  .product_name p {
    font-size: 2vw;
  }

  .product_description p {
    font-size: 1.6vw;
  }

  .star svg {
    width: 2.5vw !important;
    height: 3.5vw !important;
  }

  .product_price p {
    font-size: 2vw;
  }

  .buy_btn a {
    font-size: 2vw;
  }

  .product_img {
    height: 100%;
  }

  .load_more button {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 900px) {
  .product_grid .product_box {
    width: 48%;
    height: 66vw;
  }

  .product_img {
    height: 30vw;
  }

  .product_name p {
    font-size: 5vw;
  }

  .product_description p {
    font-size: 3.5vw;
  }

  .star svg {
    width: 3.5vw !important;
    height: 7.5vw !important;
  }

  .product_price p {
    font-size: 3.5vw;
  }

  .buy_btn a {
    font-size: 3.5vw;
  }

  .load_more button {
    font-size: 4vw;
  }

  .notification {
    font-size: 3vw;
  }
}
