.full_navigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

.filter-not-visible,
.sort-not-visible {
  animation: slideOut ease-in-out 0.2s forwards;
  position: fixed;
}

.filter-visible,
.sort-visible {
  animation: slideIn ease-in-out 0.5s;
  position: absolute;
  background-color: rgba(237, 237, 237, 0.9);
  backdrop-filter: blur(5px);
  z-index: 99;
  width: 100%;
  transform: translateZ(0);
}

.navigation {
  position: sticky;
  top: 0;
}

.navigation_buttons {
  display: flex;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  overflow: hidden;
  top: 0;
  background-color: rgba(237, 237, 237, 0.9);
  backdrop-filter: blur(5px);
}

.title {
  width: inherit;
  text-align: center;
}

.logo {
  width: 115px;
  height: auto;
}

.filterIcon,
.sortIcon {
  width: 23%;
}

.filterIcon svg,
.sortIcon svg {
  width: 100%;
  height: 100%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }
}
